body{
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    text-align:center;
    margin: 0;
}
#title{
    font-size:40px;
}
header{
    margin-inline: 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu{
    display: flex;
    justify-content: space-between;
}
#SCLNETmenu{
    display: flex;
    padding: 0;

}

#SCLNETmenu,#menu{
    list-style:none;
    
}
#SCLLI,#menu_bar{
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 1s;
}
a:hover{
    font-weight: 70;
}
.header_info{
    height: 500px;
    background-image: url(../images/1611939242_33-p-zadnii-fon-stena-39.jpg);
    background-size: 100%;
    padding-top: 100px;
}
.info{
    background-color: rgba(183, 179, 179, 0.308);
    text-align: center;
    margin-inline: 250px;
    padding: 100px;
    color: white;
    
}
.cta {
    border: none;
    background: none;
   }
   
   .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
   }
   
   .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active svg {
    transform: scale(0.9);
   }
   
   .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
   }
   
   .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   }
   
   .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: center;
   }

   #info{
    text-align: center;
    font-weight:lighter;
    margin-top: 100px;
    font-size:50px;

}
.sponser{
    width: 350px;
}
.sponsers{
    display: flex;
    justify-content:space-around;
}
.sponser_img, #sponser_name,#sponser_slogen,.main_title{
    text-align: center;
}

#hr{
    margin-inline: 600px;
}
.about{
    display: flex;
    justify-content: center;
    padding-inline: 100px;
}
.about_img,.about_text{
    width: 500px;
}
#img{
    width: 200px;

}
.background_about{
    padding: 100px;
    margin: 50px;
    background-color: #e66a6a;
    color: white;
}
/* From uiverse.io by @meermubashar */
#button_c2 {
    width: 140px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }
   
   #button_c2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
   }
   
   #button_c2:hover::before {
    width: 100%;
   }
   
   #button_c2:hover {
    color: black;
   }
   
   #button_c2:active:before {
    background: #b9b9b9;
   }
.cards{
    display: flex;
    justify-content:space-around;
}
/* From uiverse.io by @benjimich */
.card {
    width: 290px;
    height: 354px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f3;
    border-radius: 12px;
    box-shadow: inset 5px 5px 3px #a9a9aa,
                 inset -5px -5px 3px #ffffff;
   }
   
   .card .img {
    height: 100px;
    margin-top: 1em;
    aspect-ratio: 1;
    border-radius: 30%;
    background: #f2f2f3;
    box-shadow: inset 5px 5px 3px #a9a9aa,
                 inset -5px -5px 3px #ffffff;
   }
   
   .card .info_card {
    text-align: center;
    margin-top: .3em;
    background: linear-gradient(120deg, rgba(0,194,255,1) 0%, rgba(0,86,255,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
   
   .card .info_card >  {
    font-weight: bold;
    font-size: 1.2em;
   }
   
   .card .info_card p {
    margin-top: .3em;
   }

   .card{
    border: solid rgb(255, 255, 255) 1px;
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
}
#but1{
    border-radius: 20px;
    background-color:  #e66a6a;
    border: solid white 1px;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}
#imgIcon{
    width: 40px;
}
.iconResearch{
    display: flex;
    margin-left: 25px;
}
.iconFlex{
    margin-top: 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
#pMain{
    margin-left: 25px;
}
footer{
    background-color: rgb(31, 31, 31);
    height: 300px;

}
.cardsFooter{
    display: flex;
    justify-content: space-around;
    margin-inline:50px ;
    padding-top: 50px;
}
.cardFooter{
    border: solid rgb(31, 31, 31) 1px;
    width: 150px;

    color: rgb(235, 231, 231);
}
#liFooter{
    list-style: none;
    margin-top: 5px;
}
#socialIcons{
    border-radius: 100%;
    margin-left: 5px;
}
#butSocial{
    color: white;
    background-color: #e66a6a;
    height: 30px;
    width: 150px;
    border-radius: 100px;
    border: solid rgb(65, 65, 65) ;
    margin-top: 25px;
}